# Excluye todo por defecto
*
!scripts/
!scripts/**
# Excluye archivos temporales
__pycache__/
*.py[cod]
*.ipynb_checkpoints
.env
.venv/
env/
# Excluir archivos de entorno virtual
venv/
env/
.venv/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Excluir archivos generados
.vscode/
*.log
*.db
*.sqlite
.DS_Store

# Excluir contenido de data/bronze y data/silver
/data/bronze/*
!data/bronze/
/data/silver/*
!data/silver/

# Excluir contenido de data/gold excepto el archivo específico
/data/gold/*
!data/gold/
!data/gold/amazon2023/amzn23_model_data.parquet
